<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CATAGORIES
      </mat-panel-title>

    </mat-expansion-panel-header>
    <!-- <p>This is the primary content of the panel.</p> -->
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let category of categories"  [value]="category">
        <button (click)="onShowCategory(category)">{{category | uppercase}}</button>
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>

</mat-accordion>
